In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [135]:
lv1_08 = pd.read_csv(r'I:\Data\Personal Data\graduation project\SACOL\microwave\2009\200905\2009-05-01_12-13-20_lv1.csv',index_col='Record',)
lv1_08.drop(['Unnamed: 23'],axis=1,inplace=True)
lv1_08.head(5)

,Date/Time,10,Tamb(K),Rh(%),Pres(mb),Tir(K),Rain,Azim,Elev,TkBB(K),...,23.835,26.235,30.000,51.250,52.280,53.850,54.940,56.660,57.290,58.800
Record,,,,,,,,,,,,,,,,,,,,,
1,05/01/09 12:15:17,11,283.52,42.43,799.9,276.4,N,0.0,90.0,289.47,...,14.34,1.94,6.37,72.16,105.03,213.84,265.07,275.33,276.52,277.09
2,05/01/09 12:16:19,11,283.85,45.55,799.7,278.3,N,0.0,90.0,289.63,...,13.12,2.62,6.78,73.44,106.53,214.13,265.17,275.37,276.21,277.30
3,05/01/09 12:17:19,11,283.41,43.37,799.8,276.4,N,0.0,90.0,289.78,...,12.96,2.08,5.31,71.91,106.91,214.10,265.37,275.54,276.15,276.97
4,05/01/09 12:18:19,11,283.34,44.54,799.7,275.2,N,0.0,90.0,289.92,...,13.05,2.19,6.39,72.95,105.83,213.70,264.90,275.45,276.45,276.80
5,05/01/09 12:19:19,11,283.61,44.65,799.7,277.5,N,0.0,90.0,290.06,...,13.10,1.52,5.54,71.97,105.91,213.93,264.02,274.88,275.97,276.78

In [136]:
for col in lv1_08.columns[10:]:
    n = 31
    y = np.convolve(lv1_08[col],np.ones((n,))/n,mode='full')
    y[:n-1] = np.nan
    lv1_08[col] = y[:-(n-1)]