In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
lv1_data = pd.read_csv(r'I:\Data\Personal Data\graduation project\SACOL\microwave\\2009\200902\2009-02-05_00-02-03_lv1.csv',index_col='Record',)
# lv1_data.drop(['Unnamed: 23'],axis=1,inplace=True)
lv1_data.head(5)

,Date/Time,10,Tamb(K),Rh(%),Pres(mb),Tir(K),Rain,Azim,Elev,TkBB(K),...,23.835,26.235,30,51.25,52.28,53.85,54.94,56.66,57.29,58.8
Record,,,,,,,,,,,,,,,,,,,,,
1,2002/5/9 0:03,11,273.33,80.73,793.7,270.3,N,0,90,282.91,...,12.15,9.35,9.05,72.28,103.98,211.42,263.66,271.54,272.47,272.34
2,2002/5/9 0:04,11,273.30,80.73,793.7,271.7,N,0,90,282.91,...,12.23,9.30,7.63,71.05,104.45,211.15,264.07,272.51,272.40,272.77
3,2002/5/9 0:05,11,273.41,80.68,793.7,270.1,N,0,90,282.93,...,12.15,9.27,9.20,71.96,103.43,212.11,263.53,272.13,272.10,273.07
4,2002/5/9 0:06,11,273.46,80.53,793.7,270.7,N,0,90,282.92,...,12.28,8.90,9.18,70.75,104.02,212.08,263.94,271.92,272.78,272.84
5,2002/5/9 0:07,11,273.43,80.39,793.7,268.4,N,0,90,282.94,...,12.32,9.71,8.67,73.51,103.51,210.82,263.47,272.19,272.49,272.46

In [45]:
n =31
for col in lv1_data.columns[10:22]:
    print(col)
    y = np.convolve(pd.to_numeric(lv1_data[col]),np.ones(n,)/n,mode='full')
    y[:n-1] = np.nan
    lv1_data[col] = y[:-(n-1)]

22.235
23.035
23.835
26.235
30
51.25
52.28
53.85
54.94
56.66
57.29
58.8