In [1]:
import pandas as pd
import numpy as np

In [2]:
statistics = pd.read_csv(r'I:\Data\Personal Data\graduation project\Code\Machine Learning\basicdata\statistics.csv',index_col='Unnamed: 0')
lv1_08 = pd.read_csv(r'I:\Data\Personal Data\graduation project\Code\Machine Learning\basicdata\lv1_08.csv',index_col='Unnamed: 0')
Temperature_08 = pd.read_csv(r'I:\Data\Personal Data\graduation project\Code\Machine Learning\basicdata\Temperature_08.csv',index_col='Unnamed: 0')
Relative_humidity_08 = pd.read_csv(r'I:\Data\Personal Data\graduation project\Code\Machine Learning\basicdata\Relative_humidity_08.csv',index_col='Unnamed: 0')

In [3]:
QC_statistics = statistics.replace(0,np.nan).dropna().drop(statistics[(statistics.lv1_08 > 50)].index)
# del statistics # 释放statistics
QC_statistics.insert(1,'Ground temperature','')
QC_statistics.insert(3,'Relative_humidity_08_H0','')

In [4]:
for i in QC_statistics.index:
    QC_statistics.loc[i,'Ground temperature'] = lv1_08.loc[i,'Tamb(K)']
    QC_statistics.loc[i,'Relative_humidity_08_H0'] = Temperature_08.loc[i,'0.00']
QC_statistics.head(3)

,lv1_08,Ground temperature,Temperature_08,Relative_humidity_08_H0,Relative_humidity_08,lv1_20,Temperature_20,Relative_humidity_20
2009/02/03,31.0,269.326129,47,255.43889,42,31.0,47.0,42.0
2009/02/04,31.0,269.235161,47,257.82559,42,31.0,47.0,42.0
2009/02/05,31.0,271.209677,47,258.33026,35,31.0,47.0,35.0

In [32]:
Relative_humidity_08[Relative_humidity_08<84] = np.nan
for i in range(Relative_humidity_08.shape[0]):
    m_ax = Relative_humidity_08.max(axis=1)[i]
    m_in = Relative_humidity_08.min(axis=1)[i]
    if((m_ax>87)and(m_in>84)and((m_ax-m_in)>3)):
        print(m_ax,m_in)

89.00564 85.15846
88.8706 84.16267
88.2836 84.52787
88.6585 84.1844
88.81409 84.9511
89.61576 84.07603
88.2076 84.82972
88.8252 84.3552
87.54533 84.19318
88.69694 85.2596
90.9403 84.16692
90.75278 86.3692
89.48986 86.1276
89.9373 86.25161
90.90926 84.81115
90.4736 84.52705
89.8411 85.29372
89.24274 84.12028
90.6062 85.02835
87.7582 84.09038
89.19118 84.48304
88.28251 84.92685
89.4502 84.89468
87.7625 84.29828
89.34037 84.88736
89.3871 84.23222
89.027 84.59991
88.12173 84.51429
88.8993 84.76366
88.8463 84.08941
87.97088 84.43871
89.1096 85.68048
88.79633 84.87074
88.9977 84.28162
88.9171 84.17943