In [1]:
import pandas as pd
import numpy as np

In [45]:
statistics = pd.read_csv(r'I:\Data\Personal Data\graduation project\Code\Machine Learning\basicdata\statistics.csv',index_col='Unnamed: 0')
lv1_08 = pd.read_csv(r'I:\Data\Personal Data\graduation project\Code\Machine Learning\basicdata\lv1_08.csv',index_col='Unnamed: 0')
Temperature_08 = pd.read_csv(r'I:\Data\Personal Data\graduation project\Code\Machine Learning\basicdata\Temperature_08.csv',index_col='Unnamed: 0')

In [46]:
QC_statistics = statistics.replace(0,np.nan).dropna().drop(statistics[(statistics.lv1_08 > 50)].index)
# del statistics # 释放statistics
QC_statistics.insert(1,'Ground temperature','')
QC_statistics.insert(3,'Relative_humidity_08_H0','')

In [49]:
print(QC_statistics.columns,lv1_08.columns,Temperature_08.columns)
Temperature_08

Index(['lv1_08', 'Ground temperature', 'Temperature_08',
       'Relative_humidity_08_H0', 'Relative_humidity_08', 'lv1_20',
       'Temperature_20', 'Relative_humidity_20'],
      dtype='object') Index(['10', 'Tamb(K)', 'Rh(%)', 'Pres(mb)', 'Tir(K)', 'Rain', 'Azim', 'Elev',
       'TkBB(K)', ' 22.235', ' 23.035', ' 23.835', ' 26.235', ' 30.000',
       ' 51.250', ' 52.280', ' 53.850', ' 54.940', ' 56.660', ' 57.290',
       ' 58.800'],
      dtype='object') Index(['0.00', '0.10', '0.20', '0.30', '0.40', '0.50', '0.60', '0.70', '0.80',
       '0.90', '1.00', '1.25', '1.50', '1.75', '2.00', '2.25', '2.50', '2.75',
       '3.00', '3.25', '3.50', '3.75', '4.00', '4.25', '4.50', '4.75', '5.00',
       '5.25', '5.50', '5.75', '6.00', '6.25', '6.50', '6.75', '7.00', '7.25',
       '7.50', '7.75', '8.00', '8.25', '8.50', '8.75', '9.00', '9.25', '9.50',
       '9.75', '10.00'],
      dtype='object')

,0.00,0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,...,7.75,8.00,8.25,8.50,8.75,9.00,9.25,9.50,9.75,10.00
2009/01/01,254.99678,254.58287,254.16812,253.75252,253.33598,252.91852,252.50023,252.08099,251.53888,250.84637,...,220.65868,219.76732,218.86905,217.96393,217.05164,216.18666,215.33034,214.46716,213.59694,212.71956
2009/01/02,253.63045,253.26474,252.89828,252.53099,252.16301,251.79413,251.42453,251.05408,250.49629,249.70903,...,220.93877,220.43028,219.91791,219.40163,218.88135,218.13438,217.36734,216.59419,215.81479,215.02904
2009/01/03,250.78346,250.39270,250.00101,249.60854,249.21524,248.82106,248.42610,248.00464,247.09605,246.18541,...,218.77017,219.35873,219.95175,220.54945,220.29910,219.19092,218.07411,216.94832,215.81343,214.66922
2009/01/04,252.15324,251.86101,251.56815,251.27469,250.98059,250.68579,250.39046,250.09445,249.28191,248.37648,...,212.89836,213.92400,214.95773,215.99973,217.59827,220.10678,222.63464,225.18230,227.75021,230.33896
2009/01/05,255.25302,254.78677,254.31953,253.85126,253.38199,252.91179,252.44051,251.96822,251.38301,250.75917,...,216.16071,216.07849,215.99571,215.91223,215.86343,215.91521,215.96753,216.02007,216.06319,216.09357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009/12/27,251.51984,251.05913,250.59735,250.13461,249.67081,249.20607,248.74022,248.27338,247.67432,247.06715,...,212.83063,213.67009,214.51369,215.36050,215.05244,214.14110,213.22252,212.29633,211.36258,211.73154
2009/12/28,252.20160,251.86044,251.51859,251.17595,250.83263,250.48854,250.14369,249.72209,248.86852,248.01308,...,216.25000,216.24997,216.24998,216.25002,215.73254,214.89354,214.05981,213.21939,212.37210,211.51770
2009/12/29,252.35194,251.69887,251.04436,250.38852,249.73117,249.07243,248.41231,247.74989,247.08188,246.41241,...,217.44998,217.45001,217.44997,217.45000,216.84706,215.92743,215.00058,214.68385,214.73859,214.79370
2009/12/30,253.78883,253.44101,253.09238,252.74304,252.39296,252.04213,251.69055,251.33827,250.66956,249.89398,...,217.15599,216.25398,215.34503,214.42899,213.50558,212.32220,211.11293,209.89372,208.66425,207.42444
2009/12/31,255.16524,254.84799,254.53014,254.21155,253.89232,253.57237,253.25177,252.93050,252.30397,251.57448,...,215.69649,215.10109,214.50105,213.89630,213.28668,211.88200,211.07260,210.75839,210.44159,210.12216

In [50]:
for i in QC_statistics.index:
    QC_statistics.loc[i,'Ground temperature'] = lv1_08.loc[i,'Tamb(K)']
    QC_statistics.loc[i,'Relative_humidity_08_H0'] = Temperature_08.loc[i,'0.00']
QC_statistics

,lv1_08,Ground temperature,Temperature_08,Relative_humidity_08_H0,Relative_humidity_08,lv1_20,Temperature_20,Relative_humidity_20
2009/02/03,31.0,269.326129,47,255.43889,42,31.0,47.0,42.0
2009/02/04,31.0,269.235161,47,257.82559,42,31.0,47.0,42.0
2009/02/05,31.0,271.209677,47,258.33026,35,31.0,47.0,35.0
2009/02/06,31.0,272.547097,47,261.03134,35,31.0,47.0,35.0
2009/02/07,31.0,272.243548,47,261.83905,35,31.0,47.0,35.0
...,...,...,...,...,...,...,...,...
2009/12/26,31.0,264.241935,47,251.37892,28,31.0,47.0,47.0
2009/12/27,31.0,257.694839,47,251.51984,28,31.0,47.0,28.0
2009/12/29,31.0,262.256452,47,252.35194,23,31.0,47.0,41.0
2009/12/30,31.0,261.539032,47,253.78883,42,31.0,47.0,34.0
2009/12/31,31.0,264.798065,47,255.16524,42,31.0,47.0,30.0