In [1]:
from Extract_Observation_Tem import extract_observation_tem
years = ['2007']
data = extract_observation_tem(years)
data

,1965,2065,2165,2265,2365,2465,2565,2665,2765,2865,...,9715,9965,10215,10465,10715,10965,11215,11465,11715,11965
2007/01/01:00,255.67122,255.35693,255.04204,254.72638,254.41011,254.09320,253.77563,253.45731,253.00804,252.31567,...,220.75304,220.19000,219.61714,219.03593,218.45021,217.80186,217.11848,216.42972,215.73553,215.03563
2007/01/01:12,258.08395,257.55347,257.02170,256.48889,255.95493,255.41978,254.88353,254.34608,253.74075,253.05260,...,220.06497,219.68169,219.29555,218.91826,218.55850,218.22728,217.90698,217.58421,217.25894,216.93097
2007/01/02:00,259.45209,259.16241,258.87219,258.58133,258.28979,257.99771,257.70502,257.41159,256.84854,255.95511,...,222.22005,221.79567,221.36815,220.93739,220.50331,219.84230,218.86607,217.88228,216.89064,215.89090
2007/01/02:12,257.11594,256.56647,256.01584,255.46407,254.91106,254.35692,253.80164,253.24509,252.47868,251.59810,...,220.86247,220.29863,219.73048,219.15800,218.57851,217.76860,216.88902,216.00235,215.10863,214.20755
2007/01/03:00,257.16742,256.80511,256.44214,256.07834,255.71378,255.34840,254.98235,254.61539,254.06540,253.36493,...,221.88380,221.21414,220.54401,219.87025,219.19135,218.35301,217.35338,216.34578,215.33015,214.30623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007/12/29:12,260.19635,259.94696,259.69708,259.44669,259.19574,258.94427,258.69232,258.43979,258.08936,257.44553,...,220.17212,218.52802,216.87157,215.20238,213.52026,211.82484,210.88539,210.15643,209.42148,208.68044
2007/12/30:00,259.20969,259.32019,259.43100,259.54196,259.65317,259.76468,259.87637,259.98831,259.76407,259.12766,...,216.83438,215.24277,213.63898,212.02261,210.39343,208.82391,208.38765,207.94777,207.50421,207.05696
2007/12/30:12,259.71918,259.55444,259.38931,259.22391,259.05811,258.89200,258.72546,258.55862,258.20972,257.52222,...,218.58743,217.30531,216.01337,214.71146,213.39925,212.07651,211.05722,210.03612,209.00662,207.96846
2007/12/31:00,255.95076,256.01379,256.07715,256.14050,256.20413,256.26773,256.33157,256.39557,256.34402,255.63647,...,218.21289,217.04465,215.86758,214.68132,213.48581,212.31686,211.36179,210.39903,209.42825,208.44946
2007/12/31:12,259.13821,258.77762,258.41620,258.05402,257.69113,257.32739,256.96295,256.59772,256.20786,255.36333,...,218.06641,216.67307,215.26910,213.85410,212.42793,211.24998,211.17003,210.93637,210.70079,210.46329

In [2]:
from  Extract_Simulated_bt import extract_simulated_bt

data1 = extract_simulated_bt(years)
data1

,22.235,23.035,23.835,26.235,30.000,51.250,52.280,53.850,54.940,56.660,57.290,58.800
2007/01/01:00,9.721,9.776,9.482,8.710,7.868,7.474,7.423,7.734,65.157,77.821,96.485,123.289
2007/01/01:12,10.839,10.863,10.264,9.041,7.941,7.481,7.412,7.721,65.264,77.979,96.723,123.636
2007/01/02:00,19.714,19.823,18.726,15.860,12.654,10.937,10.038,9.986,67.832,80.307,98.676,125.049
2007/01/02:12,18.577,18.695,17.770,15.224,12.289,10.695,9.865,9.841,67.686,80.159,98.522,124.885
2007/01/03:00,14.867,14.958,14.294,12.500,10.451,9.364,8.863,8.983,66.786,79.285,97.668,124.036
...,...,...,...,...,...,...,...,...,...,...,...,...
2007/12/29:12,9.986,10.036,9.666,8.741,7.793,7.376,7.324,7.635,64.896,77.697,96.643,123.865
2007/12/30:00,8.965,9.007,8.708,7.999,7.306,7.033,7.075,7.430,64.814,77.569,96.412,123.460
2007/12/30:12,10.544,10.585,10.117,9.054,8.000,7.537,7.461,7.768,65.436,78.119,96.814,123.621
2007/12/31:00,9.452,9.508,9.231,8.471,7.661,7.310,7.300,7.636,65.444,78.118,96.775,123.505
2007/12/31:12,9.336,9.377,9.045,8.268,7.500,7.186,7.202,7.549,65.426,78.165,96.925,123.813